@charset "UTF-8";

body {
  background-color: #ecfaff;
  font-family: serif;
  margin: 0;
}

header {
  background-color: #dce8ff;
  border-bottom: 1px blue solid;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 5px;
  padding-left: 8px;
  padding-bottom: 2px;
  padding-right: 0;
  font-weight: bold;
}

a {
  transition: color 0.3s;
  text-decoration: none;
}

a:hover {
    color: limegreen;
}

p {
  display: block;
  text-indent: 1em;
}

h2 {
  margin-left: 20px;
}

.title {
  color: black;
}

h2::after {
  content: "";
  border-top: 3px rgb(128, 207, 253) solid;
  display: block;
  width: 75%;
}

ul, ol {
  position: relative;
}

ul li, ol li {
  border-left: solid 6px #2d8fdd;
  margin-bottom: 3px;
  line-height: 1.5;
  padding: 0.5em;
  list-style-type: none!important;
}

.intro ul li {
    text-decoration:underline;
}

.pdf ul li {
  font-weight: bold;
}