@charset "UTF-8";

body {
  background-color: #EFFFFF;
  font-family: 'メイリオ', Meiryo, sans-serif;
  margin: 0;
  padding: 0;
  line-height: 1.6;
}

header {
  border-bottom: 1px solid black;
  margin: 0;
  padding: 1em 2em;
}

main {
  padding-top: 1em;
  padding-left: 2em;
  padding-right: 1.5em;
  padding-bottom: 1em;
}

.wrap{
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

.footer {
  margin-top: auto;
}

a {
  transition: color 0.3s;
  text-decoration: none;
}

a:visited {
  color: blue;
}

a:hover {
  color: blue;
}

p {
  margin-top: .5em;
  margin-bottom: .5em;
  display: block;
  text-indent: 0em;
}

h1 {
  margin: 0;
  padding: 0.2em 0;
}

h2 {
  margin-top: 15px;
  margin-bottom: 15px;
}

h3 {
  margin-block-start: 0em;
  margin-block-end: 0em;
}

h2::after {
  content: "";
  border-top: 3px #b2b2b2 solid;
  display: block;
  width: 70%;
}

h3::after {
  content: "";
  border-top: 3px #b2b2b2 dotted;
  display: block;
  width: 55%;
}

ul {
  position: relative;
  padding-inline-start: 0em;
}

ul li {
  border-left: solid 6px #b2b2b2;
  margin-bottom: 3px;
  line-height: 1;
  padding: 0.5em;
  list-style-type: none!important;
}